* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  -webkit-transition: .2s linear;
  transition: .2s linear;
  line-height: 1.2;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
  overflow-x: hidden;
}

.heading {
  text-transform: uppercase;
  margin-top: .5rem;
  letter-spacing: 3px;
  font-size: 1.75rem;
  font-weight: 500;
  text-align: center;
}

.heading:after {
  content: "";
  display: block;
  width: 6rem;
  max-width: 18%;
  border-bottom: 0.3em solid darkolivegreen;
  margin: 2rem auto 0;
}

.btn {
  border: 1px solid black;
  padding: .5rem 1rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

p {
  font-size: 1.25rem;
}

body {
  position: relative;
}

header {
  position: absolute;
  top: 1rem;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2rem 3%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: transparent;
}

header .logo {
  font-size: 2rem;
  cursor: pointer;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1.25rem;
}

header nav a {
  text-transform: uppercase;
  color: black;
  letter-spacing: 1px;
  font-size: 1.125rem;
}

.home {
  background: url(../images/background.jpg);
  height: 100vh;
  background-position: center top;
  background-size: cover;
  border: .75rem solid white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home h1 {
  font-size: 5rem;
  letter-spacing: 12px;
  text-align: center;
}

.home .toggle {
  font-size: 2rem;
  position: absolute;
  right: 2.3rem;
  top: 1.75rem;
  visibility: hidden;
  cursor: pointer;
}

.articles {
  background: #f2f4f1;
}

.articles .container {
  padding: 6rem 3%;
}

.articles .container .heading:after {
  width: 4rem;
  margin-top: 1.5rem;
}

.articles .container .card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 3rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1.5rem;
}

.articles .container .card-container .card {
  width: 300px;
  background: white;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.articles .container .card-container .card .image img {
  width: 300px;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}

.articles .container .card-container .card p {
  padding: 3rem 2rem;
  text-align: center;
  line-height: 1.75;
}

.articles .container .card-container .card p:before {
  content: "";
  display: block;
  width: 2.5rem;
  max-width: 10%;
  border-bottom: 0.3em solid darkolivegreen;
  margin: 0 auto 1rem;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about img {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  width: 50vw;
  height: 70vh;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.about .content {
  margin: auto;
}

.about .content .heading:after {
  width: 4rem;
  margin-top: 1.5rem;
}

.about .content p {
  width: 50vw;
  padding: 2rem;
  text-align: center;
  line-height: 1.5;
}

.subscribe {
  background: #f2f4f1;
}

.subscribe .container {
  padding: 6rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

.subscribe .container h2 {
  letter-spacing: 2px;
  font-size: 1.5rem;
  font-weight: 500;
  text-transform: uppercase;
}

.subscribe .container input {
  font-family: inherit;
  font-size: 1.25rem;
  padding: .5rem;
  width: 300px;
  border: 5px solid white;
  background: transparent;
}

.subscribe .container .btn {
  padding: .5rem 1.5rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
}

footer {
  margin: 6rem 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .social i {
  cursor: pointer;
  padding: 10px;
  font-size: 1.25rem;
}

footer .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.5rem;
}

footer .links a {
  color: black;
}

@media (max-width: 1023px) {
  p {
    font-size: 1rem;
  }
  .heading {
    font-size: 1.25rem;
  }
  .heading:after {
    width: 4rem;
    margin: 1.5rem auto 0;
  }
  header {
    padding: 1rem 3%;
  }
  header .logo {
    font-size: 1.5rem;
  }
  header nav a {
    font-size: 0.75rem;
  }
  .home h1 {
    font-size: 3rem;
  }
  .articles .container .card-container {
    gap: 1rem;
  }
  .articles .container .card-container .card {
    width: 230px;
  }
  .articles .container .card-container .card .image img {
    width: 230px;
    height: 180px;
  }
  .subscribe .container h2 {
    font-size: 1.25rem;
  }
  .subscribe .container input {
    font-size: 1rem;
  }
  footer .links a {
    font-size: 0.75rem;
  }
}

@media (max-width: 768px) {
  body {
    overflow: hidden;
  }
  p {
    font-size: 1.25rem;
  }
  .heading {
    font-size: 1.75rem;
  }
  header {
    top: 0;
    left: 100rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100vh;
    z-index: 1000;
    gap: 3rem;
    background: url(../images/background.jpg);
    background-size: cover;
    background-position: center;
  }
  header .logo {
    font-size: 3rem;
    color: White;
  }
  header nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 2rem;
  }
  header nav a {
    font-size: 1.7rem;
  }
  .home {
    background-position: center;
  }
  .home .toggle {
    visibility: visible;
  }
  .home h2 {
    font-size: 1.5rem;
  }
  .articles .container {
    padding: 4rem 3% 2rem;
  }
  .articles .container .card-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .articles .container .card-container .card {
    width: 500px;
  }
  .articles .container .card-container .card .image img {
    width: 500px;
    height: 300px;
  }
  .about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about .image {
    height: 500px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .about .image img {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    height: 100%;
    width: 100%;
  }
  .about .content {
    width: 100vw;
    margin-top: 1.5rem;
  }
  .about .content p {
    width: 100%;
    padding: 1rem;
  }
  .subscribe .container {
    padding: 4rem 3%;
  }
  .subscribe .container h2 {
    font-size: 2rem;
  }
  footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    gap: 2rem;
    margin: 4rem auto;
  }
  footer .links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .links a {
    text-align: center;
  }
  header.active {
    left: 0;
  }
}

@media (max-width: 520px) {
  .articles .container .card-container .card {
    width: 300px;
  }
  .articles .container .card-container .card .image img {
    width: 300px;
    height: 200px;
  }
}
/*# sourceMappingURL=styles.css.map */