        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            outline: none;
            border: none;
            text-decoration: none;
            transition: .2s linear;
            line-height: 1.2;
        }
        
        html {
            font-size: 16px;
            scroll-behavior: smooth;
            scroll-padding-top: 6rem;
            overflow-x: hidden;
        }
        
        .heading {
            text-transform: uppercase;
            margin-top: .5rem;
            letter-spacing: 3px;
            font-size: 1.75rem;
            font-weight: 500;
            text-align: center;
            &:after {
                content: "";
                display: block;
                width: 6rem;
                max-width: 18%;
                border-bottom: 0.3em solid darkolivegreen;
                margin: 2rem auto 0;
            }
        }
        
        .btn {
            border: 1px solid black;
            padding: .5rem 1rem;
            width: fit-content;
        }
        
        p {
            font-size: 1.25rem;
        }
        
        body {
            position: relative;
        }
        
        header {
            position: absolute;
            top: 1rem;
            left: 0;
            right: 0;
            display: flex;
            padding: 2rem 3%;
            justify-content: space-between;
            align-items: center;
            background: transparent;
            .logo {
                font-size: 2rem;
                cursor: pointer;
            }
            nav {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 1.25rem;
                a {
                    text-transform: uppercase;
                    color: black;
                    letter-spacing: 1px;
                    font-size: 1.125rem;
                }
            }
        }
        
        .home {
            background: url(../images/background.jpg);
            height: 100vh;
            background-position: center top;
            background-size: cover;
            border: .75rem solid white;
            display: flex;
            align-items: center;
            justify-content: center;
            h1 {
                font-size: 5rem;
                letter-spacing: 12px;
                text-align: center;
            }
            .toggle {
                font-size: 2rem;
                position: absolute;
                right: 2.3rem;
                top: 1.75rem;
                visibility: hidden;
                cursor: pointer;
            }
        }
        
        .articles {
            background: rgb(242, 244, 241);
            .container {
                padding: 6rem 3%;
                .heading:after {
                    width: 4rem;
                    margin-top: 1.5rem;
                }
                .card-container {
                    display: flex;
                    margin-top: 3rem;
                    justify-content: center;
                    gap: 1.5rem;
                    .card {
                        width: 300px;
                        background: white;
                        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
                        .image {
                            img {
                                width: 300px;
                                height: 200px;
                                object-fit: cover;
                            }
                        }
                        p {
                            padding: 3rem 2rem;
                            text-align: center;
                            line-height: 1.75;
                            &:before {
                                content: "";
                                display: block;
                                width: 2.5rem;
                                max-width: 10%;
                                border-bottom: 0.3em solid darkolivegreen;
                                margin: 0 auto 1rem;
                            }
                        }
                    }
                }
            }
        }
        
        .about {
            display: flex;
            align-items: center;
            img {
                flex-basis: 50%;
                width: 50vw;
                height: 70vh;
                object-fit: cover;
                object-position: center;
            }
            .content {
                margin: auto;
                .heading:after {
                    width: 4rem;
                    margin-top: 1.5rem;
                }
                p {
                    width: 50vw;
                    padding: 2rem;
                    text-align: center;
                    line-height: 1.5;
                }
            }
        }
        
        .subscribe {
            background: rgb(242, 244, 241);
            .container {
                padding: 6rem 0;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 1rem;
                h2 {
                    letter-spacing: 2px;
                    font-size: 1.5rem;
                    font-weight: 500;
                    text-transform: uppercase;
                }
                input {
                    font-family: inherit;
                    font-size: 1.25rem;
                    padding: .5rem;
                    width: 300px;
                    border: 5px solid white;
                    background: transparent;
                }
                .btn {
                    padding: .5rem 1.5rem;
                    text-transform: uppercase;
                    letter-spacing: 2px;
                    cursor: pointer;
                }
            }
        }
        
        footer {
            margin: 6rem 3%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .social {
                i {
                    cursor: pointer;
                    padding: 10px;
                    font-size: 1.25rem;
                }
            }
            .links {
                display: flex;
                gap: 1.5rem;
                a {
                    color: black;
                }
            }
        }
        
        @media (max-width:1023px) {
            p {
                font-size: 1rem;
            }
            .heading {
                font-size: 1.25rem;
                &:after {
                    width: 4rem;
                    margin: 1.5rem auto 0;
                }
            }
            header {
                padding: 1rem 3%;
                .logo {
                    font-size: 1.5rem;
                }
                nav {
                    a {
                        font-size: 0.75rem;
                    }
                }
            }
            .home {
                h1 {
                    font-size: 3rem;
                }
            }
            .articles {
                .container {
                    .card-container {
                        gap: 1rem;
                        .card {
                            width: 230px;
                            .image {
                                img {
                                    width: 230px;
                                    height: 180px;
                                }
                            }
                        }
                    }
                }
            }
            .subscribe {
                .container {
                    h2 {
                        font-size: 1.25rem;
                    }
                    input {
                        font-size: 1rem;
                    }
                }
            }
            footer {
                .links {
                    a {
                        font-size: 0.75rem;
                    }
                }
            }
        }
        
        @media (max-width:768px) {
            body {
                overflow: hidden
            }
            p {
                font-size: 1.25rem;
            }
            .heading {
                font-size: 1.75rem;
            }
            header {
                top: 0;
                left: 100rem;
                flex-direction: column;
                justify-content: center;
                height: 100vh;
                z-index: 1000;
                gap: 3rem;
                background: url(../images/background.jpg);
                background-size: cover;
                background-position: center;
                .logo {
                    font-size: 3rem;
                    color: White;
                }
                nav {
                    flex-direction: column;
                    gap: 2rem;
                    a {
                        font-size: 1.7rem;
                    }
                }
            }
            .home {
                background-position: center;
                .toggle {
                    visibility: visible;
                }
                h2 {
                    font-size: 1.5rem;
                }
            }
            .articles {
                .container {
                    padding: 4rem 3% 2rem;
                    .card-container {
                        flex-direction: column;
                        align-items: center;
                        .card {
                            width: 500px;
                            .image {
                                img {
                                    width: 500px;
                                    height: 300px;
                                }
                            }
                        }
                    }
                }
            }
            .about {
                flex-direction: column;
                .image {
                    height: 500px;
                    width: 100%;
                    display: flex;
                    img {
                        flex: 1;
                        height: 100%;
                        width: 100%;
                    }
                }
                .content {
                    width: 100vw;
                    margin-top: 1.5rem;
                    p {
                        width: 100%;
                        padding: 1rem;
                    }
                }
            }
            .subscribe {
                .container {
                    padding: 4rem 3%;
                    h2 {
                        font-size: 2rem;
                    }
                }
            }
            footer {
                flex-direction: column-reverse;
                gap: 2rem;
                margin: 4rem auto;
                .links {
                    flex-direction: column;
                    a {
                        text-align: center;
                    }
                }
            }
            header.active {
                left: 0;
            }
        }
        
        @media(max-width:520px) {
            .articles {
                .container {
                    .card-container {
                        .card {
                            width: 300px;
                            .image {
                                img {
                                    width: 300px;
                                    height: 200px;
                                }
                            }
                        }
                    }
                }
            }
        }